.reveal .slides section .container {
  position: relative;
  display: inline;
}


.reveal .slides section .container .fragment {
  position: absolute;
  top: 0;
  left: 0;
}

.split-code {
  width: 49% !important;
  float: left !important;
}

.split-code pre {
  width: 100% !important;
}

.split-code code {
  max-height: none !important;
}


.split-code + .split-code {
  margin-left: 2% !important;
}
